#anchorPane{
    -fx-background-color:#fff7cd;
}
#s_pane{
    -fx-background-color:#f1e093;
    -fx-background-radius: 50px;
}
#edit_word {
    -fx-background-color:#f1e093;
    -fx-background-radius: 50px;

}
#left_profile{
    -fx-background-color: #f1e194;
    -fx-background-radius: 15px;

}
#right_profile {
    -fx-background-color: #cfdb6a;
    -fx-background-radius: 15px;
}

#add_word {
    -fx-background-color:#f1e093;
    -fx-background-radius: 50px;
}