#button_search {
    -fx-background-color: transparent; /* bỏ đi màu của button cũ*/
    -fx-border-width: 2px;
    -fx-border-color: #d07328;;
    -fx-border-radius: 100%;
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
    -fx-background-image: url("../image/search_button.png");
}

#button_search:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#dictionary_menu {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #a332c5;
    -fx-border-radius: 20%;
    -fx-background-image: url("../image/dictionary_button.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

#dictionary_menu:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-border-color: #7777d7;
    -fx-rotate: 5deg;
}

#homeButton {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #a332c5;
    -fx-border-radius: 20%;
    -fx-background-image: url("../image/home-button.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

#homeButton:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-border-color: #7777d7;
    -fx-rotate: 5deg;
}

#google_translate_menu {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #a332c5;
    -fx-border-radius: 20%;
    -fx-background-image: url("../image/Google_Translate_button_v2.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

#google_translate_menu:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-border-color: #7777d7;
    -fx-rotate: 5deg;
}

#game_menu {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #a332c5;
    -fx-border-radius: 20%;
    -fx-background-image: url("../image/game_menu_button_v2.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

#game_menu:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-border-color: #7777d7;
    -fx-rotate: 5deg;
}

#edit_menu {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #a332c5;
    -fx-border-radius: 20%;
    -fx-background-image: url("../image/edit_button.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

#edit_menu:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-border-color: #7777d7;
    -fx-rotate: 5deg;
}

#dictionary_label {
    -fx-background-color: #bec8d1;
    -fx-background-radius: 10%;
    -fx-border-color: #7777d7;
    -fx-border-radius: 10%;
}

#googleTranslate_label {
    -fx-background-color: #bec8d1;
    -fx-background-radius: 10%;
    -fx-border-color: #7777d7;
    -fx-border-radius: 10%;
}

#game_label {

    -fx-background-color: #bec8d1;
    -fx-background-radius: 10%;
    -fx-border-color: #7777d7;
    -fx-border-radius: 10%;
}

#addEdit_label {
    -fx-background-color: #bec8d1;
    -fx-background-radius: 10%;
    -fx-border-color: #7777d7;
    -fx-border-radius: 10%;
}

#answerA {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 15px;
    -fx-font-family: "Quicksand";
    -fx-font-size: 20px;
    -fx-text-fill: #0B91A0;
    -fx-border-color: #0B91A0; /* Màu viền */
    -fx-border-width: 2px;
    -fx-alignment: center;
    -fx-border-radius: 15px;
}

#answerA:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#answerB:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#answerC:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#answerD:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#answerB {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 15px;
    -fx-font-family: "Quicksand";
    -fx-font-size: 20px;
    -fx-text-fill: #0B91A0;
    -fx-border-color: #0B91A0; /* Màu viền */
    -fx-border-width: 2px;
    -fx-alignment: center;
    -fx-border-radius: 15px;
}

#answerC {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 15px;
    -fx-font-family: "Quicksand";
    -fx-font-size: 20px;
    -fx-text-fill: #0B91A0;
    -fx-border-color: #0B91A0; /* Màu viền */
    -fx-border-width: 2px;
    -fx-alignment: center;
    -fx-border-radius: 15px;
}

#answerD {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 15px;
    -fx-font-family: "Quicksand";
    -fx-font-size: 20px;
    -fx-text-fill: #0B91A0;
    -fx-border-color: #0B91A0; /* Màu viền */
    -fx-border-width: 2px;
    -fx-alignment: center;
    -fx-border-radius: 15px;

}

#multiple_game {
    -fx-background-color: #fcd24f;
    -fx-border-color: #1f1347;
    -fx-border-radius: 30px;
    -fx-border-width: 3px;
    -fx-font-family: Lucida Console;
    -fx-font-size: 35px;
    -fx-text-alignment: center;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(one-pass-box, #fcd24f, 7, 1, 0, 6);
}

#multiple_game:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#picture_game:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#flash_game:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#picture_game {
    -fx-background-color: #fcd24f;
    -fx-border-color: #1f1347;
    -fx-border-radius: 30px;
    -fx-border-width: 3px;
    -fx-font-family: Lucida Console;
    -fx-font-size: 35px;
    -fx-text-alignment: center;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(one-pass-box, #fcd24f, 7, 1, 0, 6);
}

#flash_game {
    -fx-background-color: #fcd24f;
    -fx-border-color: #1f1347;
    -fx-border-radius: 30px;
    -fx-border-width: 3px;
    -fx-font-family: Lucida Console;
    -fx-font-size: 35px;
    -fx-text-alignment: center;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(one-pass-box, #fcd24f, 7, 1, 0, 6);
}

#buttonTranslate {
    -fx-background-color: #ffbd59;
    -fx-background-radius: 10px;
    -fx-font-family: "Lucida Console";
    -fx-font-size: 13px;
    -fx-alignment: center;
    -fx-effect: dropshadow(one-pass-box, lightgoldenrodyellow, 6, 1, 3, 2);
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

#find {
    -fx-background-color: transparent; /* bỏ đi màu của button cũ*/
    -fx-border-width: 2px;
    -fx-border-color: #ffbd59;
    -fx-border-radius: 100%;
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
    -fx-background-image: url("../image/search_button.png");
}

#profile_button {
    -fx-background-color: #fcd24f;
    -fx-border-color: #1f1347;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-family: "Lucida Console";
    -fx-effect: dropshadow(one-pass-box, #ea8439, 5, 1, 3, 2);
    -fx-alignment: center;
}

#profile_home {
    -fx-background-color: #fc5658;
    -fx-border-color: #1f1347;
    -fx-background-radius: 11px;
    -fx-border-radius: 10px;
    -fx-font-family: "Lucida Console";
    -fx-effect: dropshadow(one-pass-box, #1f1347, 5, 1, 0, 2);
}

#button_reset_default {
    -fx-background-color: #fcd24f;
    -fx-border-color: #1f1347;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-family: "Lucida Console";
    -fx-effect: dropshadow(one-pass-box, #ea8439, 5, 1, 3, 2);
    -fx-alignment: center;
}

#sea_button {
    -fx-background-color: #31d4cb;
    -fx-border-color: #1f1347;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-family: "Lucida Console";
    -fx-effect: dropshadow(one-pass-box, #0b91a0, 5, 1, 3, 2);
}

#ava_button {
    -fx-background-image: url(../image/profile_logo.png);
    -fx-background-size: cover;
    -fx-border-color: black;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 60px;
    -fx-border-radius: 60px;
    -fx-effect: dropshadow(one-pass-box, #ea8439, 5, 1, 2, 1);
}

#ava_button:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

#ava_button_profile {
    -fx-background-image: url(../image/profile_logo.png);
    -fx-background-size: cover;
    -fx-border-color: black;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 60px;
    -fx-border-radius: 60px;
    -fx-effect: dropshadow(one-pass-box, #ea8439, 5, 1, 2, 1);
}

#game_button {
    -fx-background-color: #31d4cb;
    -fx-border-color: #1f1347;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-family: "Lucida Console";
    -fx-effect: dropshadow(one-pass-box, #0b91a0, 5, 1, 3, 2);
}

#audio_button_out {
    -fx-background-image: url("../image/sound.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-position: center;
    -fx-background-color: #ffbd59;
    -fx-background-radius: 30%;
    -fx-effect: dropshadow(one-pass-box, lightgoldenrodyellow, 6, 1, 3, 2);
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 30%;
}

#audio_button_in {
    -fx-background-image: url("../image/sound.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-position: center;
    -fx-background-color: #ffbd59;
    -fx-background-radius: 30%;
    -fx-effect: dropshadow(one-pass-box, lightgoldenrodyellow, 6, 1, 3, 2);
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 30%;
}

#audio_button_in:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#audio_button_out:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#commit {
    -fx-background-color: #ffbd59;
    -fx-background-radius: 10px;
    -fx-font-family: "Lucida Console";
    -fx-font-size: 20px;
    -fx-alignment: center;
    -fx-effect: dropshadow(one-pass-box, lightgoldenrodyellow, 6, 1, 3, 2);
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

#commit:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#start_game_button {
    -fx-background-color: #2cbbaa;
    -fx-background-radius: 10px;
    -fx-font-family: "Lucida Console";
    -fx-font-size: 13px;
    -fx-alignment: center;
    -fx-effect: dropshadow(one-pass-box, lightgoldenrodyellow, 6, 1, 3, 2);
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;

}

#submit_button {
    -fx-background-color: #2cbbaa;
    -fx-background-radius: 10px;
    -fx-font-family: "Lucida Console";
    -fx-font-size: 13px;
    -fx-alignment: center;
    -fx-effect: dropshadow(one-pass-box, lightgoldenrodyellow, 6, 1, 3, 2);
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;

}

#buttonTranslate:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#endgame_button {
    -fx-background-color: #2cbbaa;
    -fx-background-radius: 10px;
    -fx-font-family: "Lucida Console";
    -fx-font-size: 13px;
    -fx-alignment: center;
    -fx-effect: dropshadow(one-pass-box, lightgoldenrodyellow, 6, 1, 3, 2);
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

#endgame_button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#start_game_button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#submit_button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#button_show_all_word {
    -fx-font-family: "Copperplate";
    -fx-alignment: center;
    -fx-background-color: #ffbd59;
    -fx-effect: dropshadow(one-pass-box, lightgoldenrodyellow, 6, 1, 3, 2);
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-size: 13px;
}

#button_add_bookmark {
    -fx-font-family: "Copperplate";
    -fx-alignment: center;
    -fx-background-color: #ffbd59;
    -fx-effect: dropshadow(one-pass-box, lightgoldenrodyellow, 6, 1, 3, 2);
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-size: 13px;
}

#bookmark_button {
    -fx-background-color: transparent;
    -fx-background-image: url("../image/Bookmark.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

#bookmark_button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

