#button_search{
    -fx-background-color: transparent; /* bỏ đi màu của button cũ*/
    -fx-border-width: 2px;
    -fx-border-color: #d07328;;
    -fx-border-radius: 100%;
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
    -fx-background-image: url("../image/search_button.png");
}
#button_search:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
#dictionary_menu{
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #a332c5;
    -fx-border-radius: 20%;
    -fx-background-image: url("../image/dictionary_button.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
#dictionary_menu:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-border-color: #7777d7;
    -fx-rotate: 5deg;
}
#homeButton{
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #a332c5;
    -fx-border-radius: 20%;
    -fx-background-image: url("../image/home-button.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
#homeButton:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-border-color: #7777d7;
    -fx-rotate: 5deg;
}
#google_translate_menu{
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #a332c5;
    -fx-border-radius: 20%;
    -fx-background-image: url("../image/Google_Translate_button_v2.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
#google_translate_menu:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-border-color: #7777d7;
    -fx-rotate: 5deg;
}
#game_menu{
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #a332c5;
    -fx-border-radius: 20%;
    -fx-background-image: url("../image/game_menu_button_v2.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
#game_menu:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-border-color: #7777d7;
    -fx-rotate: 5deg;
}
#edit_menu{
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #a332c5;
    -fx-border-radius: 20%;
    -fx-background-image: url("../image/edit_button.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
#edit_menu:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-border-color: #7777d7;
    -fx-rotate: 5deg;
}
#dictionary_label{
    -fx-background-color: #bec8d1;
    -fx-background-radius: 10%;
    -fx-border-color: #7777d7;
    -fx-border-radius: 10%;
}
#googleTranslate_label{
    -fx-background-color: #bec8d1;
    -fx-background-radius: 10%;
    -fx-border-color: #7777d7;
    -fx-border-radius: 10%;
}

#game_label{
    -fx-background-color: #bec8d1;
    -fx-background-radius: 10%;
    -fx-border-color: #7777d7;
    -fx-border-radius: 10%;
}
#addEdit_label{
    -fx-background-color: #bec8d1;
    -fx-background-radius: 10%;
    -fx-border-color: #7777d7;
    -fx-border-radius: 10%;
}
#answerA{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 15px;
}
#answerB{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 15px;
}
#answerC{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 15px;
}
#answerD{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 15px;
}

#multiple_game {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-image: url("../image/game1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

}
#picture_game {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-image: url("../image/game2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
#flash_game {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-image: url("../image/game3.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
#buttonTranslate {
    -fx-background-color: transparent;
    -fx-background-size: cover;

    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-image: url("../image/translate.png") ;
}
#find {
    -fx-background-color: transparent; /* bỏ đi màu của button cũ*/
    -fx-border-width: 2px;
    -fx-border-color: #d07328;;
    -fx-border-radius: 100%;
    -fx-background-size: cover; /* Kích thước của hình ảnh theo tỷ lệ */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
    -fx-background-position: center center; /* Căn giữa hình ảnh */
    -fx-background-image: url("../image/search_button.png");
}
#profile_button{
    -fx-background-color: #fcd24f;
    -fx-border-color: #1f1347;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-family: "Lucida Console";
    -fx-effect: dropshadow(one-pass-box,#ea8439,5,1,3,2);
}
#profile_home{
    -fx-background-color: #fc5658;
    -fx-border-color: #1f1347;
    -fx-background-radius: 11px;
    -fx-border-radius: 10px;
    -fx-font-family: "Lucida Console";
    -fx-effect: dropshadow(one-pass-box,#1f1347,5,1,0,2);
}
#sea_button{
    -fx-background-color: #31d4cb;
    -fx-border-color: #1f1347;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-family: "Lucida Console";
    -fx-effect: dropshadow(one-pass-box,#0b91a0,5,1,3,2);
}
