#comboBox_lang_out {
    -fx-background-color: #f1ce53;
    -fx-border-radius: 100%;
    -fx-font-family: "Lucida Handwriting";
    -fx-alignment: center;


}
#comboBox_lang_input {
    -fx-background-color: #f1ce53;
    -fx-border-radius: 100%;
    -fx-font-family: "Lucida Handwriting";
    -fx-alignment: center;


}