#comboBox_lang_out {
    -fx-background-color: #ffbd59;
    -fx-background-radius: 10px;
    -fx-font-family: "Lucida Console";
    -fx-font-size: 13px;
    -fx-alignment: center;
    -fx-effect: dropshadow(one-pass-box,lightgoldenrodyellow,6,1,3,2);
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;


}
#comboBox_lang_input {
    -fx-background-color: #ffbd59;
    -fx-background-radius: 10px;
    -fx-font-family: "Lucida Console";
    -fx-font-size: 13px;
    -fx-alignment: center;
    -fx-effect: dropshadow(one-pass-box,lightgoldenrodyellow,6,1,3,2);
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;

}