#labelH1{
    -fx-font-size: 25px;
    -fx-effect: dropshadow(one-pass-box,sandybrown,10,1,3,0);
    -fx-font-family: "More Sugar";
    -fx-text-fill: #90594b;
}
#heading_label{
    -fx-font-size: 40px;
    -fx-effect: dropshadow(one-pass-box,white,5,1,3,0);
    -fx-font-family: "Lucida Console";
    -fx-text-fill: #23a29b;
}