#Text_area_input {
    -fx-border-color: #ebb721; /* Màu viền */
    -fx-border-width: 5px; /* Độ dày của viền */

}
#Text_area_out {
    -fx-border-color: #ebb721; /* Màu viền */
    -fx-border-width: 5px; /* Độ dày của viền */
 
}