#Text_area_input {
    -fx-border-color: #ffbd59; /* Màu viền */
    -fx-border-width: 5px; /* Độ dày của viền */
    -fx-background-radius: 20px;
    -fx-padding: 3px; /* Khoảng cách giữa văn bản và viền */
    -fx-border-radius: 20px; /* Độ cong của viền */

}
#Text_area_out {
    -fx-border-color: #ffbd59; /* Màu viền */
    -fx-border-width: 5px; /* Độ dày của viền */
    -fx-background-radius: 20px;
    -fx-padding: 3px; /* Khoảng cách giữa văn bản và viền */
    -fx-border-radius: 20px; /* Độ cong của viền */

}