#search_field{
    -fx-border-color: #a332c5 ;
    -fx-border-radius: 10%;
    -fx-background-color: transparent;
}
#search_field:hover{
    -fx-border-color: #3a3ae1;
}
#search_field:focused{
    -fx-border-color: #3a3ae1;
}